.midsum > ::ng-deep figure {
    
    background-color :orangered;
    color: yellowgreen;
}

.qbox {
    width: 25%;
    background-color: yellow;
    color: darkblue;
    text-align: center
    
    
}
 i{
    justify-content: flex-end !important; 
    
 }

 .flexcontainer {
    display: flex;
 }
 #score{
     margin-left: 50%
 }