.midsum > ::ng-deep figure {
    
    background-color:darkgray;
    color: brown;
}

.qbox {
    width: 25%;
    background-color: lightgray;
    color: darkblue;
    text-align: center
    
}
 i{
    justify-content: flex-end !important; 
    
 }