.midsum > ::ng-deep figure {
    justify-content: flex-start !important;
    background-color:darkgray;
    color: crimson;
}

.qbox {
    
    background-color: lightgray;
    color: darkblue;
    
}
