<div fxFlex>
  <svg id ="score" width="100" height="100">
    <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="blue" />
    <text fill="#ffff00" font-size="60" text-anchor="middle" alignment-baseline="middle" font-family="Verdana" x="50" y="50">{{score}}</text>
  </svg>
   
   
<mat-grid-list [cols]="cols | async" gutterSize="4px" rowHeight="32px"  >
  <div id="wrap" *ngFor="let ques of theQuestions;let in=index">
   <mat-grid-tile  class="midsum"  >{{ques.aStr}} &times; {{ques.bStr}} 
     
    </mat-grid-tile>
      <mat-grid-tile class="midsum">  
          <input  [myFocus]="in==focNo" class="qbox"  name="a{{in}}" type="text"  [(ngModel)]="theQuestions[in].answerString" 
          (keyup)="updateScore();suceed();" > 
    <div style="text-align:right"  *ngIf="theQuestions[in].answerString==ques.answer">
        <i [@failInOut] class="material-icons tick" style="justify-content: flex-end;font-size:25px;color:green;">done</i>
    </div>
    <div style="text-align:right"  *ngIf="theQuestions[in].answerString.length>0 && theQuestions[in].answerString!=ques.answer">
      <i [@flyInOut] class="material-icons tick" style="justify-content: flex-end;font-size:25px;color:white;">mood_bad</i>
  </div>
     
     
     
  </mat-grid-tile>
</div>
  </mat-grid-list>
    </div>
