#wrapper {
     
  display: table;
  margin: 0 auto;
  }
  #clock {
     
    display: inline-block;
  }

  #die{
    font-size: xx-large;
    color:darkred;


  }
  .active {
    background: #512DA8;;
    color:greenyellow;
}
p{
  color: rgb(10, 245, 10);
  padding-left: 00%;
   
  
}

#but{
  padding-left: 00%;
}
