<mat-toolbar id color="primary">
 Georges's Timed Tables<div *ngIf="timer0button==='START'"><button (click)="subscribeTimer0()" routerLink="/test" routerLinkActive="active" >{{timer0button}}</button></div>
 <div id=wrapper>  <svg id ="clock" width="100" height="100">
    <circle cx="50" cy="50" [attr.r]="48-(counter0*0.4)" stroke="green" stroke-width="4" fill="red" />
    <text fill="#ffff00" font-size="30" font-family="Verdana" x="5" y="60">{{counter0|minuteSeconds}}</text>
  </svg>
   
</div>
<span id="die" >{{death}}</span>
</mat-toolbar>

